<div class="well">
  <div class="row form-group form-inline home-form" id="wiki-picker">
      <div class="col-md-8 col-md-offset-2 text-center">
          <form ng-submit="search('wikis', wiki)">
              <div class="input-group">
                  <input type="text" name="wiki" ng-model="wiki" class="form-control" placeholder="Search for a Wiki">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
              </div>
          </form>
      </div>
  </div>
    <div class="row form-group form-inline home-form" id="user-search">
      <div class="col-md-8 col-md-offset-2 text-center">
          <form ng-submit="search('users', user)">
              <div class="input-group">
                  <input type="text" name="user" ng-model="user" class="form-control" placeholder="Search for a User">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
              </div>
          </form>
      </div>
  </div>
  <div class="row form-group form-inline home-form" id="topic-search">
      <div class="col-md-8 col-md-offset-2 text-center">
          <form ng-submit="search('topics', topic)">
              <div class="input-group">
                  <input type="text" name="topic" ng-model="topic" class="form-control" placeholder="Search for a Topic">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
              </div>
          </form>
      </div>
  </div>
</div>